{{ define "content" }}
<article class="article">
  <header class="article__header">
  <h1 class="h--highlight">{{ .Title }}</h1>
  {{ if not .Date.IsZero }}
  <div class="subhead">
    <time>{{ .Date.Format "02 Jan 2006" }}</time> &bull; {{ .ReadingTime }} min read
  </div>
  {{ end }}
  <ul class="tags">
    {{ range (.GetTerms "tags") }}
        <li class="tags__{{ .LinkTitle }}"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
</ul>
</header>
  <div class="article__content">
    {{ .Content }}
  </div>
</article>
<div class="push-lg--top">
  <div class="more-link">
    <a href="/articles">View all articles</a>
  </div>
</div>
{{- partial "contact.html" (dict "location" "footer" ) -}}
{{ end }}
