<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="canonical" href=".">
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ $.Param "description" }}">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/csm2kwg.css">
    <link rel="preload" href="/images/menu/circle.svg" as="image">
    <link rel="preload" href="/images/menu/square.svg" as="image">
    <link rel="preload" href="/images/menu/triangle.svg" as="image">
    <link rel="preload" href="/images/menu/circle--highlight.svg" as="image">
    <link rel="preload" href="/images/menu/square--highlight.svg" as="image">
    <link rel="preload" href="/images/menu/triangle--highlight.svg" as="image">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130645241-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-130645241-1');
    </script>
</head>
