<meta name="twitter:site" content="{{ .Site.Params.twitter }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
{{ if .IsPage }}
<meta name="twitter:title" content="{{ .Title }}" />
{{ if .Description }}
<meta name="twitter:description" content="{{ .Description }}" />
{{ else }}
<meta name="twitter:description" content="{{ .Summary }}" />
{{ end }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{.Site.BaseURL}}{{ .Params.image }}" /> {{ else }}
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description }}" /> {{ end }}