<!DOCTYPE html>
<html ⚡ lang="en">
  {{- partial "head.html" . -}}
  <body>
    <div class="wrapper">
      {{- partial "header.html" . -}}
      {{- partial "menu.html" . -}}
      <div  class="content">
      <section class="bio">
        <img src="{{.Params.profile}}" alt="David Adams" width="200" />
        {{ .Content }}
        {{- partial "contact.html" (dict "location" "page" ) -}}
      </section>
      <section>
        {{ $pages := where .Pages "Section" "articles"}}
        {{ if len $pages }}
        <h1>Recent Articles</h1>
        {{end}}
        <ul class="ui-list">
          {{ range first 5 (where .Pages.ByDate.Reverse "Section" "articles") }}
          <li>
            <div>
              <div>
                <h2 class="h--list"><a href="{{ .URL }}">{{ .Title }}</a></h2>
                <div class="subhead"><time>{{ .Date.Format "02 Jan 2006" }}</time></div>
              </div>
            </div>
          </li>
          {{ end }}
          {{ if gt (len $pages) 5 }}
          <div class="more-link">
              <a href="/articles">View all articles</a>
          </div>
          {{end}}
        </ul>
      </section>
    </div>
    {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
