/***** COLOUR REFERENCE
pink: #fc3498;
blue: #70e5cb;
yellow: #F8E71C;
*****/
/***** BASE & TYPOGRAPHY *****/
html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #70e5cb;
}

img,
video {
  max-width: 100%;
}

body {
  font-family: proxima-nova, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #212121;
  font-size: 18px;
}

h1,
h2 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3,
h4,
h5,
.gallery__title {
  font-family: futura-pt, sans-serif;
  font-style: normal;
}

h4,
h5,
.gallery__title {
  font-weight: 400;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5em;
}

/***** LISTS *****/
.ui-list {
  list-style: none;
  padding-left: 0;
}

.ui-list > li:not([class]) {
  padding: 0;
}

/***** UTILITIES *****/
.flush {
  margin: 0;
}
.align--center {
  text-align: center;
}
/***** GRID BASE LAYOUT *****/
.menu {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 1.5em;
}

@media (max-width: 649px) {
  .menu {
    text-align: center;
  }
  .nav > ul {
    display: flex;
    margin: 0 0 0 15px;
    justify-content: center;
  }
  .nav > ul > li {
    padding-right: 15px;
  }
}

@media (min-width: 650px) {
  .menu {
    max-width: 315px;
    min-width: 180px;
  }
}

.content {
  grid-area: content;
  padding: 1.5em;
  max-width: 855px;
}

.content img {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.bio img {
  box-shadow: none;
}

@media (min-width: 900px) {
  max-width: 720px;
}

@media (min-width: 650px) {
  .header {
    padding: 1.5em;
  }
  .content {
    padding-top: 0;
  }
}
@media (min-width: 800px) {
  .content {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}

.footer {
  grid-area: footer;
}

@media (min-width: 650px) {
  .wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      "sidebar header"
      "sidebar content"
      "sidebar footer";
    background-color: #fff;
  }
}

@media (min-width: 800px) {
  grid-template-columns: 1fr 4fr;
}

/***** LOGO *****/
@media (max-width: 599px) {
  .logo {
    width: 150px;
    max-width: 100%;
    margin-left: 1.5em;
  }
}

/***** MENU *****/
.nav {
  font-size: 24px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
}

.nav__item > a {
  display: block;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  color: #212121;
  background-image: url("/images/menu/circle.svg");
}

.nav__item:nth-child(2n) > a {
  background-image: url("/images/menu/square.svg");
}

.nav__item:nth-child(3n) > a {
  background-image: url("/images/menu/triangle.svg");
}

.nav__item--active > a,
.nav__item:hover > a {
  background-image: url("/images/menu/circle--highlight.svg");
}

.nav__item--active:nth-child(2n) > a,
.nav__item:nth-child(2n):hover > a {
  background-image: url("/images/menu/square--highlight.svg");
  background-position-y: 10px;
}

.nav__item--active:nth-child(3n) > a,
.nav__item:nth-child(3n):hover > a {
  background-image: url("/images/menu/triangle--highlight.svg");
}

/***** MAIN CONTENT *****/
.h--list,
.h--highlight {
  margin-top: 0;
  margin-bottom: 0;
}

.h--highlight {
  display: inline-block;
  line-height: 1.25;
}

.h--highlight::after {
  content: "";
  display: block;
  width: 90%;
  margin-top: 3px;
  margin-bottom: 6px;
  border-bottom: 5px solid #fc3498;
}

.article__header {
  margin-bottom: 1.5em;
}

.subhead {
  font-size: 14px;
}

.bio {
  font-size: 20px;
  margin-bottom: 3em;
}

@media (max-width: 649px) {
  .bio {
    text-align: center;
  }
}

.bio > :first-child,
.contact > p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.h--jumbo,
.bio > h1 {
  font-size: 56px;
  margin-top: 0;
}

.bio > h1 {
  margin-bottom: 1rem;
}

.content h1 {
  margin-bottom: 0;
}

.article__content > h1 {
  font-size: 32px;
  margin-bottom: 1rem;
}

@media (max-width: 649px) {
  .bio > h1 {
    font-size: 50px;
  }
  .bio > p {
    text-align: left;
  }
}

.content p:first-child {
  margin-top: 0;
}

hr.section-divider {
  display: block;
  border: 0;
  margin-top: 52px;
  margin-bottom: 42px;
  text-align: center;
  overflow: visible;
}

hr.section-divider:before {
  font-size: 30px;
  letter-spacing: 0.6em;
  content: "...";
  display: inline-block;
  margin-left: 0.6em;
  color: rgba(0, 0, 0, 0.68);
  position: relative;
  top: -30px;
}

/***** LINKS *****/
a:not([class]),
.links > a,
.link {
  display: inline-block;
  text-align: left;
}

a:not([class]),
a:not([class]):hover,
.links > a,
.links > a:hover,
.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}

a:not([class])::after,
.links > a::after,
.link::after {
  transition: width 0.4s, background-color 0.3s, color 0.3s;
  content: "";
  display: block;
  width: 95%;
  height: 3px;
  background-color: #70e5cb;
}

h2 > a:not([class])::after {
  height: 5px;
}

a:not([class]):hover::after,
.links > a:hover::after,
.link:hover::after {
  width: 105%;
  background-color: #fc3498;
}

/***** GALLERY *****/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__item {
  padding: 10px;
}

@media (min-width: 650px) {
  .gallery__item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .gallery__item {
    width: 33%;
  }
}

.gallery__item:first-child,
.gallery__item:nth-child(4n) {
  padding-left: 0;
}
.gallery__image {
  border: 7px solid #f4f4f4;
}

.gallery__title {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
}

@supports not (display: grid) {
  @media (min-width: 650px) {
    .menu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .content {
      margin-left: 300px;
    }
  }
  .header {
    padding: 0;
  }
}

.browsehappy {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}

.browsehappy > div {
  padding-top: 10%;
  max-width: 400px;
  margin: auto;
}
